
<!-- mat-toolbar : es un contenedor para los headers  -->
<mat-toolbar color="primary">
  <span>listado de personas</span>
</mat-toolbar>


<!-- mat-card : contenedor de contenido para fotos y videos .etc -->
<mat-card >

  <!-- para filtrar -->
  <mat-form-field appearance="fill">
    <mat-label>Filtro</mat-label>
    <!-- keyup : funcion le envia el valor del input , deja de escribir-->
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <!-- [dataSource]="dataSource" : sacamos la data del controller  -->
  <!-- mat-elevation-z15 : es una especie de css -->
  <!-- matSort  : es para el ordenamiento  -->
  <table matSort  mat-table [dataSource]="dataSource" class="mat-elevation-z15">

    <!-- matColumnDef="name" : = displayedColumns del controller  -->
    <!-- mat-sort-header : es la columna q quieres filtrar -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <!-- desenvolsando data  , usando la variable element , desenvolsando con la clase guia  -->
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>


    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
      <!-- desenvolsando data ,  -->
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>

    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <!-- desenvolsando data  -->
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>


    <ng-container matColumnDef="tipoDocumento">
      <th mat-header-cell *matHeaderCellDef> Tipo de documento </th>
      <!-- desenvolsando data  -->
      <td mat-cell *matCellDef="let element"> {{element.tipoDocumentos}} </td>
    </ng-container>

    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef> documento </th>
      <!-- desenvolsando data  -->
      <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
    </ng-container>


    <ng-container matColumnDef="fecha de nacimiento">
      <th mat-header-cell *matHeaderCellDef> fecha de nacimiento </th>
      <!-- desenvolsando data  -->
      <!-- date:'dd/mm/yy' : formato de fecha
       https://v17.angular.io/api/common/DatePipe -->
      <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date:'dd/mm/yy' }} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <!-- desenvolsando data  -->
      <td mat-cell *matCellDef="let element">
        Editar y Eliminar
       </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <!-- paginator  -->
  <!-- [pageSizeOptions]="[5, 10, 25, 100]" : puedes cambiar los valores  -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</mat-card>
