

mat-form-field{
  width: 100%;
}



/* FORM */
.row{
  display: flex;
}
.column{
  /* Cuando se usa un valor como 50% directamente en la propiedad flex, en realidad estás definiendo el flex-basis, que significa que el ancho inicial de ese elemento debe ser el 50% del contenedor flexible. En este caso, no se especifican los valores de grow ni de shrink, y su valor predeterminado es 1. Es decir, el navegador lo interpreta así:
  flex: 0 1 50%; este seria el valor  */
  /* el 50% es el basics  */
  flex: 50%;
  margin: 0px 5px;
}



/* VALIDATORS */
.error{
  color: #B0304B;
  margin-top: -10px;
}


.container{
  display: flex;
  justify-content: space-between;
}
